@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  padding: 0;
  margin: 0 auto;
  /*font-size: 18px;*/
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #fafafa;
  margin-bottom: .2em;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: black;
}

.body-container {
  height: 100%;
  transform: translateY(4%);
}

.layout {
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  height: 4%;
  background: white;
}
nav > ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

a {
  color: #CE5D5D;
}

a:hover {
  color: #ce965d;
}

a.button {
  display: block;
  width: 100%;
  font-size: 1em;
  text-decoration: none;
  height: 100%;
  border: solid 1px black;
}

.code-container {
  /*This height should subtract -#vh of however big the font size of a.button is */
  height: 100%;
  width: 75%;
  float: left;
}

.form-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 95;
  animation-duration: 0.5s;
  animation-name: fade-in;
}

.create-session {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation-duration: 0.25s;
  animation-name: fade-in;
}

a.form-button{
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
  height: 100%;
  border: solid 1px white;
  background-color: transparent;
  color: #CE5D5D;
  text-align: center;
  margin-top: .2em;
  border-radius: 20px;
}

form > input, select {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 2em;
  text-decoration: none;
  border: solid 1px white;
  background-color: transparent;
  text-align: center;
  color: #CE5D5D;
}

#session-language, #session-theme {
  color: black;
}

form > ul > li {
  list-style: none;
}

.intro-container {
  height: 120%;
  width: 100%;
  float: left;
  animation: 0.5s fade-in;
}

.background-red {
  background-color: #CE5D5D;
}

.background-white {
  background-color: white;
}

.main-image {
  width: 100%;
  height: 100%;
  background: url('../files/typing.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  text-align: center;
}

.intro-container .content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

h1 {
  width: 75%;
  text-align: center;
  font-size: 2em;
  border: solid 1px white;
  border-radius: 5px;
  padding: 1em;
  margin-top: 20%;
  color: white;
  font-weight: 300;
}

video {
  width: 50%;
  text-align: center;
  margin-top: 5%;
  color: white;
}

.title {
  color: white;
  font-weight: 300;
  border: solid 1px white;
  width: 50%;
  border-radius: 5px;
}

.hidden {
  width: 100%;
  float: left;
  display: block;
  background-color: #CE5D5D;
  animation: 0.7s fade-out forwards;
}

.side-bar {
  background: #CE5D5D;
  height: 100%;
  float: right;
  width: 25%;
  padding: .2em;
  padding-top: .4em;
  border-left: solid 1px black;
}

.side-bar h2 {
  text-align: center;
  font-size: 1.4em;
  border: solid 1px black;
  border-radius: 5px;
}

@keyframes fade-in {
  0% {opacity: 0}
  10% {opacity: .5}
  100% {opacity: 1}
}

@keyframes fade-out {
  0% {opacity: 1; height: 50vh}
  10% {opacity: .8}
  100% {opacity: 0; display: none; height: 0;}
}

@media (max-width: 600px) {
  * {
    font-size: 12px;
  }
}