@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

* {
  padding: 0;
  margin: 0 auto;
  /*font-size: 18px;*/
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #fafafa;
  margin-bottom: .2em;
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100%;
}

nav {
  width: 100%;
}
nav > ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

a.button {
  display: block;
  width: 100%;
  font-size: 3vh;
  text-decoration: none;
  height: 100%;
  border: solid 1px black;
}

.code-container {
  /*This height should subtract -#vh of however big the font size of a.button is */
  height: calc(100vh - 3vh);
  width: 75%;
  float: left;
}

.CodeMirror span {
  /*font-size: 12px;*/
}