@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  padding: 0;
  margin: 0 auto;
  /*font-size: 18px;*/
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  background-color: #fafafa;
  margin-bottom: .2em;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

nav {
  width: 100%;
}
nav > ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

a {
  color: #CE5D5D;
}

a:hover {
  color: #ce965d;
}

a.button {
  display: block;
  width: 100%;
  font-size: 1em;
  text-decoration: none;
  height: 100%;
  border: solid 1px black;
}

.code-container {
  /*This height should subtract -#vh of however big the font size of a.button is */
  height: calc(100vh - 3vh);
  width: 75%;
  float: left;
}

.form-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 95;
  animation-duration: 0.5s;
  animation-name: fade-in;
}

.create-session {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation-duration: 0.25s;
  animation-name: fade-in;
}

a.form-button{
  display: block;
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
  height: 100%;
  border: solid 1px white;
  background-color: transparent;
  color: #CE5D5D;
  text-align: center;
  margin-top: .2em;
  border-radius: 20px;
}

form > input {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 2em;
  text-decoration: none;
  border: solid 1px white;
  background-color: transparent;
  text-align: center;
  color: #CE5D5D;
}

form > ul > li {
  list-style: none;
}

@keyframes fade-in {
  0% {opacity: 0}
  10% {opacity: .5}
  100% {opacity: 1}
}