<section class="layout" ng-controller="homeController as homeCtrl">
  <section id="main-one" class="intro-container background-red">
    <div class="content">
      <h1>Welcome To Pair Coder!</h1>
    </div>
    <div class="main-image">
    </div>
  </section>
  <section id="main-two" class="intro-container background-green">
    <div class="content">
      <h1>We Welcome You To Explore And See All There Is To Do!</h1>
    </div>
    <div class="main-image"></div>
  </section>
  <section id="main-three" class="intro-container background-red">
    <div class="content">
      <h1>Try Creating A Pair Coding Session!</h1>
    </div>
    <div class="main-image"></div>
  </section>
  <section id="main-four" class="intro-container background-green">
    <div class="content">
      <h1>And If You're So Inlclined, Sign Up!</br>You Get Private Pair Sessions If You Do!</h1>
    </div>
    <div class="main-image"></div>
  </section>
</section>